.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.side-brand {
  flex: 1;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.side-form {
  flex: 1;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 768px) {
  .login-container { flex-direction: column; }
  .side-brand { height: 30vh; }
}
